<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tinashe.audioverse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AudioVerseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioVerse"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.presenter.PresenterActivity"
            android:theme="@style/Theme.AudioVerse.Detail" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/search"
            android:theme="@style/Theme.AudioVerse.Detail" />

        <activity
            android:name=".ui.search.SearchResultsActivity"
            android:label="@string/blank"
            android:theme="@style/Theme.AudioVerse.Detail" />
    </application>

</manifest>